@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.inter-normal {
  font-family: "Inter", sans-serif;

  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100%;
}
/* ------header section starts here---- */
.logo span {
  color: red;
}
.menu ul {
  display: flex;
  list-style-type: none;
}
header {
  height: 778px;
  width: 100%;
  background-color: rgb(255, 248, 243);
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.nav ul li {
  padding-right: 50px;
}
.nav ul li a {
  text-decoration: none;
  color: white;
  background-color: #fd6e0a;
  padding: 18px 35px;
  border-radius: 5px;
}
.logo h1 {
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
}
.banner-container {
  background-image: url("../images/developer.png");
  background-repeat: no-repeat;
  background-size: 136px 700px;
  background-position: left center;
}
.banner-description h5 {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
}
.banner-description h1 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 85px;
  font-weight: 700;
  line-height: 116px;
  letter-spacing: 0%;
  text-align: left;
}
.banner-description p {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 30px;
}
.banner-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-description {
  padding-left: 100px;
}
.banner-info {
  background-image: url("../images/header_bg.png");
  /* background-size: 400px 400px; */
  background-position: right bottom;
  background-repeat: no-repeat;
}
.download {
  border-radius: 5px;
  color: white;
  background-color: rgb(253, 110, 10);
  border: none;
  padding: 19px 17px;
}
.contact {
  color: rgb(253, 110, 10);

  padding: 19px 35px;
  border-radius: 5px;
  border: none;
  border: 2px solid rgb(253, 110, 10);
  margin-left: 25px;
}

/* ------header section ends here---- */
/* ------about section starts here---- */
.about {
  width: 80vw;
  height: 550px;
  border-radius: 10px;
  margin: 130px auto 130px auto;
  background-color: #fff8f3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-info {
  display: flex;
  justify-content: space-evenly;
}
.about-container {
  width: 827px;
  height: 288px;
  background-color: white;
  margin: auto;
  border: 2px solid black;
}
.about-description h1 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.about-description p {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: #757575;
  padding-bottom: 50px;
  padding-top: 20px;
}
.about-info {
  text-align: center;
}

/* ------about section ends here---- */
/* ------skill section starts here---- */
.skill-description p {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.skill-description h1 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.skill {
  width: 267px;
  height: 377px;

  border-radius: 5px;
  margin-bottom: 130px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background-color: rgb(255, 255, 255);
}
.skills {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.skill h4 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 20px;
}
.skill p {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  padding: 0 33px 30px 33px;
}
.skill img {
  padding: 30px 0 20px 30px;
}
/* ------skill section ends here---- */
/* ------resume section starts here---- */
.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}

.resume-container {
  display: flex;
  gap: 50px;
}

.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.resume-item-institute {
  margin-bottom: 20px;
  margin-top: 0px;
}

.resume-item-institute,
.resume-item-description {
  color: #757575;
}

.resume-container hr {
  margin: 30px;
}

.download-cv {
  text-align: center;
  margin-top: 50px;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}
.resume-container {
  width: 80%;
  margin: 80px auto 30px auto;
}

/* ------resume section ends here---- */
/* ------footer section start here---- */
footer {
  background-color: rgb(255, 248, 243);
  display: flex;
  justify-content: center;

  width: 100%;
  height: 700px;
  gap: 117px;
  margin-top: 130px;
}
.footer-description {
  padding-top: 100px;
}
.footer-description h1 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 20px;
}
.footer-description p {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 30px;
}
.footer-input h1 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 28px;
}
.footer-input input {
  width: 461px;
  height: 64px;
  border: none;
  margin-bottom: 24px;
}
.footer-input textarea {
  width: 461px;
  height: 180px;
  margin-bottom: 24px;
  border: none;
}
.footer-input input[type="submit"] {
  width: 150px;
  height: 64px;
  border: none;
  border-radius: 5px;
  background-color: rgb(253, 110, 10);
  color: white;
}
::placeholder {
  padding: 18px;
}
.footer-input {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-description img {
  border: 2px dashed rgb(187, 186, 186);
  margin-right: 3px;
}
/* ------footer section ends here---- */
.hide {
  display: none;
}
/* smaller devices */
@media screen and (max-width: 576px) {
  .nav {
    flex-direction: column;
  }
  .banner-info {
    flex-direction: column-reverse;
    background-image: none;
  }
  .banner-container {
    background-image: none;
  }
  .banner-image img {
    width: 70%;
  }
  .banner-image {
    background-image: url("../images/header_bg.png");
    background-size: cover;
    background-position: center;
  }
  .nav ul {
    padding-bottom: 50px;
    margin-top: 20px;
  }
  .nav ul li {
    padding-right: 10px;
  }
  .banner-description {
    padding-left: 5px;
  }
  header {
    height: 950px;
  }
  .about {
    width: 95vw;
    height: 900px;
  }
  .about-container {
    height: 400px;
  }
  .about-description {
    margin-bottom: 80px;
  }
  .about-info {
    flex-direction: column;
  }
  .name,
  .email,
  .date,
  .from {
    padding-bottom: 10px;
  }
  .skills {
    flex-direction: column;
    align-items: center;
  }
  .resume-container {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
    height: auto;
    gap: 0px;

    width: 100vw;
  }

  .footer-input textarea,
  .footer-input input {
    width: 95%;
  }

  .footer-description {
    width: 100%;
    padding-left: 5px;
  }
}
/* extra-small-devices
@media screen and (max-width: 380px) {
} */
