@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.inter-normal {
  font-family: "Inter", sans-serif;

  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100%;
}
/* ------header section starts here---- */
.logo span {
  color: red;
}
.menu ul {
  display: flex;
  list-style-type: none;
}
header {
  height: 778px;
  width: 100%;
  background-color: rgb(255, 248, 243);
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.nav ul li {
  padding-right: 50px;
}
.nav ul li a {
  text-decoration: none;
  color: white;
  background-color: #fd6e0a;
  padding: 18px 35px;
  border-radius: 5px;
}
.logo h1 {
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
}
.banner-container {
  background-image: url("../images/developer.png");
  background-repeat: no-repeat;
  background-size: 136px 700px;
  background-position: left center;
}
.banner-description h5 {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
}
.banner-description h1 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 85px;
  font-weight: 700;
  line-height: 116px;
  letter-spacing: 0%;
  text-align: left;
}
.banner-description p {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 30px;
}
.banner-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-description {
  padding-left: 100px;
}
.banner-info {
  background-image: url("../images/header_bg.png");
  /* background-size: 400px 400px; */
  background-position: right bottom;
  background-repeat: no-repeat;
}
.download {
  border-radius: 5px;
  color: white;
  background-color: rgb(253, 110, 10);
  border: none;
  padding: 19px 17px;
}
.contact {
  color: rgb(253, 110, 10);

  padding: 19px 35px;
  border-radius: 5px;
  border: none;
  border: 2px solid rgb(253, 110, 10);
  margin-left: 25px;
}

/* ------header section ends here---- */
